@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

html, body{
    height: 100%;
    width: 100%;
}

#root{
    height: 100%;
    width: 100%;
}

#topnav{
    display: flex;
    flex-direction:row;
    justify-content:space-around;
    align-items: center;
    background-color: #1B4965;
    height: 100px;
}

#compName{
    color:white;
    background-color: #1B4965;
}

#compName:hover{
    color:white;
    background-color: #4DA167;
    cursor: pointer;
    border-radius: 5px;
}

.artTable{
    width: 305px;
    height: 500px;
    padding: 0%;
    background-color: white;
    border-radius: 10px;
}

#artSquare{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    border: 0px;
    border-radius: 10px;

}

#artSquare:hover{
    background-color: white;
    border: 3px groove gray;
}

.App{
    margin: 20px;
    height: 500px;
}

#cartIcon{
    height: 45px;
    width: 45px;
    border-radius: 8px;
    background-color: #4DA167;


}

#loadscreen{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: #5FA8D3;
}

#errorscreen{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: #1B4965;
}

#errorimg{
    height: 300px;
    width: 300px;
    background-color: #1B4965;
    margin-bottom: 30px;


}

#errortxt{
    font-family: 'Rubik', sans-serif;
    color:white;
    font-size: 50px;
    background-color: #1B4965;
}

#clock{
    height: 300px;
    width: 300px;
    margin-bottom: 30px;
    background-color: #5FA8D3;
}

#loadingtxt{
    font-family: 'Rubik', sans-serif;
    color:white;
    font-size: 70px;
    background-color: #5FA8D3;
}

#artName{
    color:black;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    margin-bottom: 10px;
    background-color: white;

}
#artP{
    color:black;
    font-family: 'Roboto', sans-serif;
    font-size: 22px;
    background-color: white;

}
#artR{
    color:black;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    background-color: white;

}
#artQs{
    color:black;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    background-color: white;
    margin-bottom: 10px;

}

#add2cart{
    width:30px;
    height: 30px;
    background-color: white;
    margin-bottom: 1px;

}
#addbutton{
    width: 40px;
    height: 40px;
    border: 0px;
    background-color: white;
}

#addbutton:hover{
    border: 1px solid black;
    background-color: white;
    cursor: pointer;
}

#topcartbtn{
    width: 60px;
    height: 60px;
    border: 1px solid black;
    border-radius: 8px;
    background-color:#4DA167;



}

#topcartbtn:hover{
    border: 3px solid #CAE9FF;
    background-color: #4DA167;
    border-radius: 8px;
    cursor: pointer;
}
