*{
    margin: 0px;
    padding: 0px;
    background-color: #E0E2DB;
}


.columns{
    margin: 20px;
    box-sizing: border-box;
    border-radius: 10px;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.column{
    align-items: center;
    box-sizing: border-box;
    padding: 0%;
    height: 40px;

}
.column:hover{
    background-color: #4da167;
    color: rgb(34, 34, 34);
    border-radius: 10px;
}

button{
    background-color: #3bc14a;
    border-radius: 10px;
    color: white;
    border: none;
    width: 40%;
    height: 100%;
    padding: 0%;
}

button:hover{
    background-color: #4da167;
    color: rgb(34, 34, 34);
    border-radius: 10px;

}